{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "react-hooks", "prettier"],
  "rules": {
    "@typescript-eslint/non-nullable-type-assertion-style": ["off"],
    "consistent-return": ["off"],
    "no-param-reassign": ["error", {"ignorePropertyModificationsFor": ["consoleElement"]}],
    "no-console": ["warn", {"allow": ["warn", "error"]}],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".tsx", "ts"]
      }
    ],
    "react/jsx-props-no-spreading": ["off"],
    "react/prop-types": ["off"],
    "react/destructuring-assignment": ["off"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "tabWidth": 2,
        "semi": true,
        "singleQuote": true,
        "endOfLine":"auto"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.html"],
      "plugins": ["html"]
    }
  ]
}
