$white: #FFF !default;
$black: #000 !default;

.container {
  min-width: 1000px;
  margin: auto;
  text-align: center;

  > h4 {
    color: $white;
  }

  ol li {
    & + li {
      margin-top: .5rem;
    }
  }

  .mimes {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    background-image: url("images/mime_bw.png");
    background-repeat: repeat-x;
    background-size: 4rem;
    filter: invert(100%);
  }

  $buttonBgColor: #4b5052;

  button {
    background-color: $buttonBgColor;
    transition: background-color 200ms;
    border: 2px solid $black;
    color: #F5F5F5FF;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;

    &:hover, &:focus {
      background-color: darken($buttonBgColor, 3%);
    }

    &:active {
      background-color: darken($buttonBgColor, 10%);
    }
  }

  button + button {
    margin: .5rem;
  }

  .stage {
    box-shadow: 0 0 5px 1px $black;
    width: fit-content;
    margin: auto;
  }

  .overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(0 0 0 0.18);

    .content {
      width: 30rem;
      height: fit-content;
      background-color: $white;
      padding: 2rem;
      box-shadow: 0 0 1rem .2rem $black;

      .buttons {
        margin-top: 1rem;
      }
    }
  }
}
