@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: white;
  font-family: 'Press Start 2P', cursive;
}

.container {
  width: 90vw;
  margin: auto;

  h4 {
    width: 1000px;
    text-align: center;
  }

  .mimes {
    width: 1000px;
    text-align: center;
  }

  .stage {
    box-shadow: 0 0 5px 1px #000000;
    width: fit-content;
  }
}
