@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background: white;
  font-family: 'Press Start 2P', cursive;
}

#play-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25px);
  width: 300px;
  gap: 0;
  grid-auto-rows: minmax(25px, auto);

  .square {
    box-shadow: inset 0 0 3px 0 #000000;
  }
}
